#include "meteorite40.dtsi" 

&encoder0 {
    status = "okay";
};

&encoder1 {
    status = "okay";
};

&i2c0 {
    status = "disabled";
};

&mt { 
    flavor = "tap-preferred"; // change hold to tap
    tapping-term-ms = <200>;
    quick-tap-ms = <150>; // change 200 to 150
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>; // change 200 to 150
    quick-tap-ms = <150>; // change 200 to 150
};