#include "meteorite40.dtsi" 

&encoder0 {
    status = "okay";
};

&encoder1 {
    status = "okay";
};

&i2c0 {
    status = "disabled";
};

/ {
    led_off: led_off {
        compatible = "gpio-leds";
        gpios = <&gpio0 13 GPIO_OUTPUT_LOW>;
        status = "okay";
    };
};