#include <physical_layouts.dtsi>

/ {
    meteorite40_layout: meteorite40_layout {
        compatible = "zmk,physical-layout";
        display-name = "meteorite40";

        keys //                  w    h   x     y  rot rx ry 
            = 
            // 1段目 左5
            <&key_physical_attrs 100 100    0    0  0  0  0>,
            <&key_physical_attrs 100 100  100    0  0  0  0>,
            <&key_physical_attrs 100 100  200    0  0  0  0>,
            <&key_physical_attrs 100 100  300    0  0  0  0>,
            <&key_physical_attrs 100 100  400    0  0  0  0>,
            // 1段目 右5
            <&key_physical_attrs 100 100  700    0  0  0  0>,
            <&key_physical_attrs 100 100  800    0  0  0  0>,
            <&key_physical_attrs 100 100  900    0  0  0  0>,
            <&key_physical_attrs 100 100 1000    0  0  0  0>,
            <&key_physical_attrs 100 100 1100    0  0  0  0>,

            // 2段目 左5
            <&key_physical_attrs 100 100    0  100  0  0  0>,
            <&key_physical_attrs 100 100  100  100  0  0  0>,
            <&key_physical_attrs 100 100  200  100  0  0  0>,
            <&key_physical_attrs 100 100  300  100  0  0  0>,
            <&key_physical_attrs 100 100  400  100  0  0  0>,
            // 2段目 右5
            <&key_physical_attrs 100 100  700  100  0  0  0>,
            <&key_physical_attrs 100 100  800  100  0  0  0>,
            <&key_physical_attrs 100 100  900  100  0  0  0>,
            <&key_physical_attrs 100 100 1000  100  0  0  0>,
            <&key_physical_attrs 100 100 1100  100  0  0  0>,

            // 3段目 中央12
            <&key_physical_attrs 100 100    0  200  0  0  0>,
            <&key_physical_attrs 100 100  100  200  0  0  0>,
            <&key_physical_attrs 100 100  200  200  0  0  0>,
            <&key_physical_attrs 100 100  300  200  0  0  0>,
            <&key_physical_attrs 100 100  400  200  0  0  0>,
            <&key_physical_attrs 100 100  500  200  0  0  0>,
            <&key_physical_attrs 100 100  600  200  0  0  0>,
            <&key_physical_attrs 100 100  700  200  0  0  0>,
            <&key_physical_attrs 100 100  800  200  0  0  0>,
            <&key_physical_attrs 100 100  900  200  0  0  0>,
            <&key_physical_attrs 100 100 1000  200  0  0  0>,
            <&key_physical_attrs 100 100 1100  200  0  0  0>,

            // 4段目（中央8キー）
            <&key_physical_attrs 100 100  200  300  0  0  0>,
            <&key_physical_attrs 100 100  300  300  0  0  0>,
            <&key_physical_attrs 125 100  400  300  0  0  0>,
            <&key_physical_attrs 100 100  525  300  0  0  0>,
            <&key_physical_attrs 100 100  625  300  0  0  0>,
            <&key_physical_attrs 125 100  725  300  0  0  0>,
            <&key_physical_attrs 100 100  850  300  0  0  0>,
            <&key_physical_attrs 100 100  950  300  0  0  0>
        ;
    };
};