#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp KC_Q     &kp KC_W     &kp KC_E     &kp KC_R     &kp KC_T     &kp KC_Y     &kp KC_U     &kp KC_I     &kp KC_O     &kp KC_P     &kp KC_A     &kp KC_S
                &kp KC_D     &kp KC_F     &kp KC_G     &kp KC_H     &kp KC_J     &kp KC_K     &kp KC_L     &kp KC_Z     &kp KC_X     &kp KC_C     &kp KC_V     &kp KC_B
                &kp KC_N     &kp KC_M     &kp KC_COMMA &kp KC_DOT   &kp KC_SLASH &kp KC_TAB   &kp KC_LSHIFT &kp KC_LCTRL &kp KC_LALT  &kp KC_SPACE &kp KC_BSPC  &kp KC_ENTER
                &kp KC_MINUS &kp KC_EQUAL &kp KC_ESC   &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO    &kp KC_NO
            >;
        };

        layer_1 {
            bindings = <
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
            >;
        };

        layer_2 {
            bindings = <
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
                &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO &kp KC_NO
            >;
        };
    };
};